Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -bugprone-command-processor,
  -bugprone-exception-escape,
  -modernize-use-trailing-return-type,
  -portability-avoid-pragma-once,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '.*(include|src|tests).*'
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: '1'
